<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I’m a Software Engineering student with a background in robotics and electronics. I am passionate about
          programming and I love working on personal projects that involve robotics, programming, and game development.
        </p>
      </div>
      <div class="col-lg-4">
        <p>I'm constantly looking forward for new opportunities to challenge myself and grow as person and as a
          developer.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h3>
          Check out some of my projects!
        </h3>
      </div>
    </div>
  </div>
</section>